name: Build & Test

on:
  push:
    branches:
      - master
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-test:
    name: Build and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        toolchain: [stable]
        feature: [default, tracing]
    steps:
      - uses: actions/checkout@v3
      - run: |
          rustup update ${{ matrix.toolchain }}
          rustup default ${{ matrix.toolchain }}
      - run: cargo fmt --check --all
      - run: cargo clippy --features ${{ matrix.feature }} --tests -- -D warnings
      - run: cargo build --features ${{ matrix.feature }}
      - run: cargo test --features ${{ matrix.feature }} --verbose
